@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@font-face {
  font-family: Nordic-Bold;
  src: url(/assets/Norse-Bold.otf)
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", sans-serif;
}

.left-col {
    background-image: url("https://images.unsplash.com/photo-1605190587727-519a8020dbf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo-container {
    background: rgba(0, 0, 0, .7);
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: absolute;
    z-index: 1;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
}

.logo {
    font-family: Nordic-Bold;
    margin: 0;
    color: #FFF;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.logo > span {
    font-family: "Open Sans", sans-serif;
}

.logo-img {
    width: 20px;
    margin: 0 1em; 
}

/*Input Box  */
.form-container {
    background: rgba(0, 0, 0, .6);
    padding: 3em;
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: auto auto;
  margin-top: 3em;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}


label {
    font-size: .8rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;    
    margin-left: .3rem;
    color: #EEE;    
}

input {
    border: none;
    padding: .7em 1em;
    border-radius: .5em;
    color: #333;
}

input:focus {
    outline: none;
    border: none;
    background: #EFEFEF;
}

.btn {
    border: none;
    background: lightblue;
    padding: 1em 2em;
    border-radius: .5em;
    font-weight: 700;
    margin-top: .5em;
    transition: all 150ms;
}

.btn:hover, .btn:focus {
    transform: scale(1.05);
    background: lightskyblue;
}

.login {
    font-size: .8rem;
    text-align: center;
    letter-spacing: 1px;
    color: #FFF;
}

.login > a {
    color: lightseagreen;
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    color: lightgreen;
    text-decoration: underline;
}


@media (min-width: 700px) {
  form {
    max-width: 400px;
  }
}